* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

nav {
    background: #5379F6;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin: 10px;
}

.logo {
    margin: 20px;
    padding: 0 50px;
}

.firstSection {
    margin-top: 25px;
    display: flex;
    /* margin-left: 100px;
    margin-right: 100px; */
    justify-content: space-evenly;
    align-items: center;
}

.formImg {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.takeInput {
    display: flex;
    align-items: center;
    margin: 20px;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 450px;
    padding: 10px;
}

#img50 {
    width: 70%;
}

.input {
    border: none;
    font-size: 15px;
}

input:focus {
    border: none;
    border-width: 0px;
    border-style: none;
    border-color: white;
    /* background: #000; */
}

.formIcon {
    margin-right: 10px;
}

/* CSS */
.button-43 {
    background-image: linear-gradient(-180deg, #5379F6 0%, #476add 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    width: 150px;
    /* width: 100%; */
    margin-left: 150px;
    margin-top: 30px;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-43:hover {
    background-image: linear-gradient(-180deg, #5379F6 0%, #17759C 100%);
}

@media (max-width: 768px) {
    .button-43 {
        padding: 1rem 2rem;
    }
}

@media only screen and (max-width: 700px) {
    .formImg {
        /* display: none; */
        width: 90%;
    }

    #img50 {
        width: 80%;
    }

    .firstSection {
        flex-direction: column;
    }

    .takeInput {
        width: 90%;
    }

    .btn5 {

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0 40px;

    }

    .button-43 {
        display: flex;
        justify-content: center;
        padding: 10;
        margin: 0;
        align-items: center;
    }

}





















/* //Earthquake */
.text {
    position: absolute;
    top: 25%;
    left: 45%;
    color: white;
    font-size: 30px;
}

.info {
    display: flex;
    margin: 0px 25px;
}

.img1 {
    object-fit: cover;

}

.heading {
    margin: 0 25px;
    font-weight: 600;
    font-size: 34px;
    padding-bottom: 20px;
}

.imgContainer {
    width: 700px;
    margin: 50px;
    margin-left: 100px;
}

.image5 {
    width: 500px;
    border-radius: 10px;
}

.details {
    display: flex;
    justify-content: center;
    margin-right: 100px;
    /* align-items: center; */
    flex-direction: column;
}

.do {
    background-color: #EAEFFF;
    width: 50%;
    /* padding-left: 50px; */
}

.dont {
    width: 50%;
}

.head2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading2 {
    margin: 0 25px;
    font-weight: 600;
    font-size: 34px;
}

.point {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-top: 15px;
}

.text6 {
    padding-left: 30px;
}

.container {
    display: flex;
    background-color: #EAEFFF;
    padding: 50px 100px;
}

.tips {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
}



@media only screen and (max-width: 700px) {
    .container {
        display: block;
        /* flex-direction: column; */
    }

    .info {
        flex-direction: column-reverse;
    }

    nav {
        width: 100%;
    }

    .imgContainer {
        width: 300px;
        margin: 10px;
        margin-left: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .navMenu {
        display: none;
    }

    .img1 {
        height: 300px;
        object-fit: cover;
    }

    .text {
        top: 28%;
        left: 25%;
    }

    .details {
        padding: 0;
        margin: 0;
    }

    .image5 {
        /* height: 300px; */
        width: 280px;
    }

    .info {
        margin: 20px 15px;
    }

    .heading {
        padding-bottom: 0;
    }

    .container {
        padding: 15px;
    }

    .point {
        padding: 5px;
    }

    .text6 {
        padding: 5px;
    }

    .icon6 {
        width: 35px;
    }

    .logo {
        width: 80px;
    }

    .do {
        width: auto;
    }

    .dont {
        width: auto;
    }
    .tips{
        margin: 20px;
    }
}